.contacto__seccion {
    display: flex;
    flex-direction: column;
    color: black;
    border-radius: 30px;
    a {
        text-decoration: none;
        color: #2ecc71;
        font-family: R regular;
    }
}


h3 {
    color: #2ecc71;
    font-family: R regular;
}


.contacto__img{
    width: 100%;
}

.seccion__info {
    list-style: none;
}

.seccion__buttonlist {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.donatebutton {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
   .donatebutton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   .donatebutton:hover {
    color: #e8e8e8;
   }
   
   .donatebutton:hover::before {
    width: 100%;
   }


@media screen and (max-width: 768px) {
    .contacto__seccion {
        flex-direction: column;
    }
    .seccion__buttonlist {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .contacto__seccion {
        flex-direction: column;
    }
    .seccion__buttonlist {
        flex-direction: column;
    }

}